*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}