@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital@1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #1D2228;
    color: white;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.navbar ul{
    display: flex;
    align-items: center;
}
.navbar #logo{
    font-weight: bold;
    font-size: 28px;
    padding: 0px 10px;
    font-family: 'Pacifico', cursive;
}
.catabout{
    margin-top:10px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 8px;
}

.navbar a{
    text-decoration: none;
    font-family: poppins;
}

#hamburger{
    display: none;
}
#burgerbtn{
    font-size: 3rem;
    display: none;
    border: 1px solid;
    height: 40px;
    align-items: center;
    width: 50px;
    justify-content: center;
    border-radius: 15%;
    border-color: #888888;
    cursor: pointer;
}
.navrespon{
    /* margin-left: -10px; */
    padding-left: 20px;
    background: #1D2228;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    box-shadow: 0px 10px 9px -3px #888888;
}
.navrespon a{
    margin-bottom: 10px;
}
.ddatas{
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
    
}

#segitiga, #tri, #userlogged { 
    display: none;
}


#LogOut {
    display: none;
    position: absolute;
    margin-top: 90px;
    margin-right: 100px;
    padding: 12px 0px;
    text-align: left;
    padding-left: 5px !important;
    padding-right: 60px !important;
    border-radius: 5px;
    border: 0.5px solid;
}

@media screen and (max-width:600px) {
    #burgerbtn{
        display:flex;
    }
    .kanan{
        display: none;
    }
    .ddatas hr{
        margin-left: -20px;
        display: block;
    }
    .catabout{
        display: none;
    }
    #hamburger:checked ~ .navrespon{
        display: flex;
    }
    #logo { 
        font-size: 25px;
    }
}